
Why GitHub? 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search

Sign in
Sign up
sanbal13
/
TA-JS-DOM-and-Events-TJaaaf
100
Code
Pull requests
5
Actions
Projects
Security
Insights
TA-JS-DOM-and-Events-TJaaaf/block-BJaaen/code/style.css
@sanbal13
sanbal13 Create a clone of Rock, Paper, Scissor game
Latest commit 91318fd 27 days ago
 History
 2 contributors
@sanbal13@nnnkit
102 lines (99 sloc)  2.1 KB
  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
html {
    font-size: 16px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {

}
.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 1px 1px 5px 2px grey;
    border-radius: 1rem;
}
/* *************************** Heading ****************************** */
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color:#fff;
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    margin: 1rem;
}
/* *************************** Header ********************************/
header {
    background-color: #228EFA;
    padding: 1rem;
    margin-top: 10rem;
    box-shadow: 1px 1px 3px grey;
}
/* **************************** Icons ********************************/
.fa {
   font-size: 4rem;
   margin-right: 3.5rem;
   margin-bottom: 1rem;
}
.you .fa {
    color: green;
}
.computer .fa {
    color: red;
}