html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
html {
    font-size: 16px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 500px;
    min-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ********************* Flex ****************************** */
.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
}
.flex-74 {
    flex: 0 1 74.8%;
}
.flex-24{
    flex: 0 1 24.8%;
}
/* *************************** Heading **************************** */
h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem;
}
/* ************************ Main ************************************* */
.display {
    width: 100%;
    height: 6rem;
    background-color: #000;
    border-radius: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: right;
    padding: 1.5rem;
    font-weight: 700;
}
.btn {
    flex: 0 1 31%;
    height: 4rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;  
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
}
.operation {
    background-color: #712133 ;
    color: #fff;
}
.number {
    background-color: #CFCFCF ;
}
.equal {
    background-color: #2C8080;
    height: 18rem;
}
.clear {
    background-color: #3D1C10;
    color: #fff;
}